@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{  
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f9fdff !important;
    min-height: 100vh;
}
:root {
   --btn-color: #5d44ff; 
   --btn-hover-color: #462aff; 
 }
.main-container{
   width: 80%;
}
.table-container {

   margin-bottom: 50px;
   background-color: #fff;
   padding: 5px 15px 20px 15px;
   border-radius: 8px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.TableInfo {
   font-size: 23px;
   font-weight: 500;
   text-align: center;
}

.table-div {
   overflow-x: auto;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
   /* border: 1px solid black; */
}

thead th, tbody td {
   padding: 5px 7px ;
   text-align: center;
   font-size: 14px;
   border: 1.5px solid #dcdcdc;
   font-weight: 500;
}
tbody td {
   padding: 5px 7px ;
   text-align: center;
   font-size: 12px;
   border: 1.5px solid #dcdcdc;
   font-weight: 500;
}

thead th {
   /* background-color: #4CAF50; */
   background-color: #4c71f5;
   color: rgb(255, 255, 255);
}

tbody tr:nth-child(even) {
   background-color: #f3f3ff;
}


td:last-child, th:last-child {
   text-align: center;
}

td, th {
   white-space: nowrap;
}
.addComponent{
   display: block;
}
.VaccineAdd{
   padding: 7px;
   border-radius: 7px;
   font-weight: 500;
   font-size: 14px;
   background-color: var(--btn-color);
   transition: background-color 0.5s ease;
   color: white;
   border: none;
   cursor: pointer;
}
.VaccineAdd:hover{
   background-color: var(--btn-hover-color);
}

.action-column .edit {
   text-decoration: none;
   color: white;
   font-weight: 500;
   font-size: 13px;
   margin-right: 10px;
   border-radius: 7px;
   background-color: #4CAF50;
   padding: 1px 5px;
}
.action-column .viewDetails {
   text-decoration: none;
   color: white;
   font-weight: 500;
   font-size: 13px;
   margin-right: 10px;
   border-radius: 7px;
   background-color: var(--btn-color);
   padding: 1px 5px;
}
.viewDetails:hover {
   background-color: rgb(84, 110, 255);
}
.crtAcc{
   margin-right: 0;
}
.action-column .edit:hover {
   background-color: #74b977;
}
.action-column .delete {
   padding: 1px 4px ;
   text-decoration: none;
   color: white;
   font-weight: 500;
   cursor: pointer;
   font-size: 13px;
   margin-right: 10px;
   border-radius: 7px;
   background-color: rgb(248, 98, 98);
} 
.action-column .delete:hover {
   background-color: rgb(251, 130, 130);
} 

/* Modal to delete vaccine */

.deleteOverlay {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(29, 29, 29, 0.5); /* Semi-transparent black overlay */
   z-index: 2; /* Place the overlay above other elements */
}

.btn-delete{
   margin-top: 35px;
   margin-left: 82px;
}
.deleteCont {
   display: none;
   position: absolute;
   background-color: #fff;
   padding: 15px;
   border-radius: 8px;
   color: rgb(65, 65, 65);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
   transition: opacity 4s ease-in;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: 600;
   z-index: 2; /* Place the modal above the overlay */
}

.confirmDelete{
   margin-left: 15px;
   border-radius: 5px;
   border: 1px solid black;
   padding: 5px 10px;
   font-weight: 500;
   background-color: rgb(255, 97, 97);
   color: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
   cursor: pointer;
}

.confirmDelete:hover{
   background-color: rgb(255, 75, 75);
}
.cancelDelete{
   background-color: rgb(212, 212, 212);
   border: 1px solid gray;
   border-radius: 5px;
   font-weight: 500;
   padding: 5px 8px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
   cursor: pointer;
}
.cancelDelete:hover{
   background-color: rgb(176, 176, 176);
}
.childDataSearch{
   border: 1px solid gray;
   border-radius: 5px;
   padding: 7px 10px;
   
}
.searchContents img{
   width: 29px;
   height: 28px;
   padding: 4px;
   border-radius: 5px;
}
.searchContents{
   display: inline;
}
.searchContents button{
   border: none;
   background-color: rgb(122, 122, 122);
   border-radius: 7px;
   padding: 7px;
   font-size: 14px;
   color: rgb(240, 240, 240);
   font-weight: 500;
   cursor: pointer;
}
.delInfo{
   font-size: 13px;
   text-align: center;
   margin-top: 20px;
   color: rgb(255, 97, 97);
}
.pagination {
   margin-top: 20px;
}

.pagination ul {
   display: inline-block;
   padding-left: 0;
   margin: 0;
}

.pagination li {
   display: inline;
}
.pagination{
   display: flex;
   justify-content: space-between;
}
.pagination li a {
   padding: 4px 11px;
   text-decoration: none;
   color: black;
   border-radius: 5px;
   margin: 0 2px;
   font-weight: 500;
}

.pagination li.active a {
   background-color: #005eff;
   border-radius: 50%;
   color: white;
}
.searchnAdd{
   display: flex;
   align-items: center;
   gap: 25px;
   margin-bottom: 30px;
}


