@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.profile p{
   margin-bottom: 0;
   font-size: 13px;
   font-weight: 600;
}
.profile {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding:5px;
  
}
.topbar {
   position: fixed;
   right: 0;
   top: 0;
   z-index: 2;
   left: 188px;
   text-align: center;
   background-color: rgb(255, 255, 255);
   margin-left: 52px;
   box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.07);
}
.sessionUsername{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.profileImg{
   width: 30px;
   margin-right: 5px;
   
}
.dropdown{
   
   width: 10px;
   filter: invert(25%);
   margin-right: 40px;
   cursor: pointer;
   margin-top: 2px;
}