@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgb(236, 236, 236) !important;
    padding-left: 190px !important;
    padding-top: 40px !important;
}
:root {
    --btn-color: #5d44ff; 
    --btn-hover-color: #462aff; 
  }
.side-navbar{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: inline-block;
    box-shadow: 2px 0 2px rgba(141, 141, 141, 0.3);  
    position: fixed;
    left: 0;  
    top: 0;
}
.logo{
    display: flex;
    border-bottom: 1px solid rgb(58, 58, 58);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 190px;
}
.logo p{
    margin-top: 40px;
    margin-left: 5px;
    margin-bottom: 42px;
    font-weight: bold;
    font-size: 0.85rem;
    color: rgb(23, 23, 23);
}
.logo-img{
    width: 55px;
    height: 55px;
    border-radius: 90%;
}
.list-container{
    margin-top: 45px;
    width: 190px;
}
.list-container a{
    color: black;
    text-decoration: none;
}
.side-navbar ul li img{
    width: 25px;
    margin-left: 25px;
    margin-right: 15px;
    color: white;
}
.side-navbar ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.side-navbar ul li.active{
    background-color: rgb(12, 98, 246);
}
.list-container ul{
    padding-left: 0;
}
.side-navbar ul li:hover {
    background-color: rgb(218, 228, 255);
    color: white;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 6px;
}
.side-navbar ul li p{
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 17px;
    font-size: 15px;
    color:  rgb(45, 45, 45);
    margin-bottom: 0;
}

/* css code for modal  */
.overlay{
    width: 100%;
    height: 100vh;
    background: rgba(49, 49, 49, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.5s ease;
}
.showOverlay{
    opacity: 1;
    z-index: 20;
}
.confirmLogout{
    display: inline-block;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    background-color: white;
    font-weight: 600;
    border-radius: 4px;
    /* height: 140px; */
    padding: 7px;
    position: absolute;
    top: -20%;
    left: 50%;
    z-index: 21;
    /* to position the container exactly at the center */
    transform: translate(-50%,-50%);
    transition: top 0.5s ease;
    
}
.showLogout{
    top: 50%;
}
.logoutmessage{
    text-align: center;
    margin-bottom: 0;
}
.btn-logout{
    margin-left: 92px;
    margin-top: 70px;
}
.cancelbutton{
    /* border: 1px solid rgb(39, 39, 39); */
    padding: 5px;
    color: beige;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
.cancelbutton:hover{
    background-color: rgb(177, 177, 177);
}
.confirmbutton{
    background-color: var(--btn-color);
    transition: background-color 0.5s ease;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.confirmbutton:hover{
    background-color: var(--btn-hover-color);
}
.line{
    background-color: rgb(54, 54, 54);
    opacity: 1;
    margin-top: 6px;
}

