@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{  
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

.chart-container {
   display: flex;
   justify-content: space-between;
   margin-top:40px;
 }
 #barChart {
   margin-left: 40px;
   width: 700px !important;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  #doughnutChart{
    margin-right: 40px;
    width: 500px !important;
    height: 370px !important;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }
#doughnutChart legend {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  width: 100%; 
}

 
 .DashBoxes{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 120px;
   margin: 35px 15px 15px 15px;
 }
 .First-box, .Second-box, .Third-box, .Fourth-box{
   background-color: rgb(255, 255, 255);
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   border-radius: 5px;
   /* height: 125px; */
   padding: 17px 17px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   /* width: 290px; */
   font-weight: 500;
   margin-left: 25px;
}
.Fourth-box{
  margin-right: 25px;
}
.DashBoxes p{
  line-height: 45px;
}
.boxValue{
  font-size: 20px;
  color: rgb(255, 110, 110);
}
.boxValue1{
  font-size: 20px;
  color: rgb(255, 110, 110);
  display: inline-block;
  margin-right: 10px;
}
.DashBoxes img {
  width: 40px;
  margin-left: 60px;
}
.icon4{
  width: 50px !important;
}
.boxName{
  color: rgb(114, 119, 159);
}
.male,.female{
  font-size: 11px;
  display: inline-block;
  color: rgb(114, 119, 159);
}
.male{
  margin-right: 6px;
}



