@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{  
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
   background-color: #f9fdff !important;
 }
 :root {
  --btn-color: #5d44ff; 
  --btn-hover-color: #462aff; 
}
.container {
   max-width: 340px;
   margin: 120px auto;
   padding: 10px 20px 20px 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
h2 {
   text-align: center;
   margin-bottom: 10px;
   font-size: 20px;
   color: #5474ff;
}
label {
   font-weight: 600;
   font-size: 14px;
   color: #414141;
}
input {
   width: 100%;
   padding: 7px;
   margin-bottom: 20px;
   border: 1px solid #b9b9b9;
   border-radius: 5px;
   /* outline: none; */
}
.ParentsSignupBtn {
   width: 100%;
   padding: 7px;
   background-color: var(--btn-color);
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   transition: background-color 0.5s ease;
}
.ParentsSignupBtn:hover {
   background-color: var(--btn-hover-color);
}
.msg-show1{
   background-color: rgb(9 127 0);
   color: white;
   text-align: center;
   border-radius: 5px;
 }
 .adjust1{
   padding: 4px;
   font-size: 14px;
 }

