@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   
    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(119, 119, 255);
    
}

.mail-container {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    
}

.form-cont  {
    margin-top: 15px;
    width: auto;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-cont input {
    width: 250px;
    padding: 6px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    border: none;
    display: block;
    border-radius: 4px;
    border: 2px solid black;
}

 .btn{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(68, 68, 250);
    color: white;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;
    
}
.heading h2{
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 8px;
}

.name1{
    position: relative;
    right: 102px;
    top: 8px;
    font-weight: 500;
}

.msg-show {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    /* text-align: center; */
    background-color: rgb(252, 119, 119);
    width: auto;
    
}
.msg-show1 {
    border-radius: 5px;
    text-align: center;
    background-color: rgb(9 127 0);
    color: white;
    width: auto;
}
.adjust{
    padding: 4px;
}
.adjust1{
    padding: 4px;
    font-weight: 500;
}
