@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(119, 119, 255);
    
}
:root {
    --button-bg-color: #5d44ff; /* Default button background color */
 }
.mail-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
}
.form-cont1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.form-cont1 input {
    width: 250px;
    padding: 6px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}
 .btn{
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    border-radius: 6px;
    background-color: var(--button-bg-color);
    transition: background-color 0.5s ease;
    color: white;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;   
}
.btn:hover{
    background-color: rgb(50, 80, 248);
}
.heading h2{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
}

.name1{
    position: relative;
    right: 85px;
    top: 7px;
    font-weight: 500;
}
.name2{
    position: relative;
    right: 51px;
    top: 7px;
    font-weight: 500;
}
.msg-show3 {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;

    background-color: rgb(252, 119, 119);
    width: auto;
}
.msg-show2 {
    border-radius: 5px;
    text-align: center;
    background-color: rgb(9 127 0);
    color: white;
    width: auto;
}
.adjust3{
    padding: 4px;
    font-size: 13px;
}
.adjust4{
    padding: 4px;
    font-size: 14px;
}