@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{  
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;

}
.main-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 40px 30px 40px;
    background:  #fff; 
    backdrop-filter: blur(50px); /* Adjust the blur value as needed */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.vaccineCont input {
    transition: box-shadow 0.3s ease-out; 
   }
   
   .vaccineCont input:focus {
    box-shadow: 0 0 7px rgba(34, 0, 255, 1);
}

.backgroundimage img {
    width: 400px;
    margin-top: 15px;
    margin-right: 50px;
}
.vaccineCont {
    /* display: flex;
    flex-direction: column; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7); 
}

.Vaccinetitle p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.Vaccinetitle img{
    width: 30px;
}
.Vaccinetitle {
    display: flex;
    justify-content: center;
    text-align: center;
}
.horizontalcont{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.input-box1 input{
    padding: 6px;
    width: 270px;
    border-radius: 5px;
    border: 1.5px solid black;
    margin-bottom: 25px;
}
.input-box2 input{
    padding: 6px;
    width: 270px;
    border-radius: 5px;
    border: 1.5px solid black;
}
.dozeOfVaccine{
    margin-bottom: 25px;
}
.btn{
    margin-top: 35px;
    padding: 4px 78px;
    border-radius: 7px;
    border: none;
    background-color:  rgb(68, 68, 250);
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    transition: background-color 0.6s ease;
}
.anotherbtn{
    padding: 4px 71px;
}
.btn:hover{
    background-color: rgb(94, 66, 218);
}
.name1{
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
}
.name2{
    font-weight: 500;
    font-size: 16px;
}
.name3{
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
}
.combobox{
    border: 1.5px solid black;
    font-weight: 500;
    border-radius: 4px;
}
.msg-show1{
    background-color: rgb(9 127 0);
    color: white;
    text-align: center;
    border-radius: 5px;
}

.adjust1{
   padding: 4px;

}